* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    color: #211d1d;
}

header{
    background-color: #e5e5e5;
    padding: 15px;
    text-align: center;
    color: #222222;
}

.menu {
    float: left;
    width: 25%;
    text-align: center;
    padding: 15px;
    margin: 7px 0;
}

.menu a,form {
    background-color: #e5e5e5;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
}

.menu form input[type="search"] {
    width: 80%; /* Set the search box width to 70% */
  }

.main {
    float: left;
    width: 60%;
    padding: 0 20px;
}
footer {
    background-color: #e5e5e5;
    padding: 15px;
    text-align: center;
    color: #222222;
    clear: both; /* Add this line to clear floats, otherwise the whole page will inherit bkg-color */
}
  
section{
    overflow:auto
}

iframe{
    width: 100%;
    height: 140px;
    frameborder: 0px;
    border:0;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
        width: 100%;
    }
    .menu form input[type="search"] {
        width: 60vw; /* Set the search box width to 70% */
    }
}