.container {
    max-width: 1200px;  
    margin: 0 auto;     
    padding: 0;     
    background-color: #fffff0; 
}

header {
    width: auto;
    margin-bottom: 20px;
}

header img{
    width: 100%;
    height: auto;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    color: #333;  
    background-color: #ebb284;  
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin-top: 0; 
}

h1 {
    font-size: 2.5em;
    color: #2C3E50;  
}

h2 {
    font-size: 2.1em;
    color: white;
    font-weight: normal;  
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #de803c;
}

h3 {
    font-size: 1.8em;
    color: white;
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ebb183;  
}

.link-title, .comment-title {
    background-color: transparent;
    margin-left: 20px;
    padding-left: 0px;
    margin-bottom: 15px;
    font-weight: normal; /* this is to avoid the bold looking appearance */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2C3E50;
}

.comment-title {
    margin-left: 0px;
}

.sidebar.right p {
    color:#de803c;
    font-size: 0.91em;
    margin-bottom: 20px;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.2;
    margin-right: 20px;

}

.sidebar.right p::before {
    content: '“';  
    font-size: 1.5em;  
    color: #de803c;  
}

.sidebar.right p::after {
    content: '”';  
    font-size: 1.5em;  
    color: #de803c;  
}

/* Links in the left sidebar */
a {
    color: #677177;
    text-decoration: none;
}

a:hover {
    color: #2C3E50; 
}

ul {
    list-style-type: none; /* Removes the bullet points */
    padding-left: 1.5em;
}

li { 
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 4px;
}

li.newgroup {
    margin-top: 20px; /* Adds space above list items with the .newgroup class */
}


/*Information about the "About GEC" section */
.about{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.about-content{
    display: flex;
    flex-direction: row;
    align-items: start;
}

.aboutGEC-image{

    height: 300px;
    margin-left: 15px;
    padding-bottom: 20px;
    
}

p {
    margin-bottom: 20px;
}

.class-entry{
    display:flex;
    align-items: start;
    margin-bottom: 10px;
}

.class-entry p{
    margin-top: 4px;
}

.class-icon{
    margin-right: 4px;
    width: 24px;
}

footer {
    background-color: #de803c;
    text-align: center;
    color:#f5d4c7;
    padding: 0.1em;
    margin: 0;
}

